<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Mobile</title>
</head>
<body>
    <h1>Edit Mobile</h1>
    <form action="/mobiles/edit" method="post" th:object="${mobile}">
        <p>Brand: <input type="text" th:field="*{brand}" /></p>
        <p>Model: <input type="text" th:field="*{model}" /></p>
        <p>Price: <input type="number" th:field="*{price}" /></p>
        <input type="hidden" th:field="*{id}" />
        <input type="submit" value="Edit Mobile" />
    </form>
</body>
</html>